* {
  box-sizing: border-box;
  background-color: #CEDFED;
  color: #8493A1;
}

.box {
  width: 150px;
  height: 150px;
  background-color: #8C74A1;
}

/* pseudo elements use two colons to identify  */
p::first-letter {
  font-size: 200%;
}

p::first-line {
  background-color: #C99FED;
}

.box::before {
  display: block;
  content: '';
  width: 75px;
  height: 75px;
  background-color: #A19A7C;
}

.box::after {
  display: block;
  content: attr(data-text);
  width: 75px;
  height: 75px;
  background-color: hsl(209, 13.4%, 37.5%);
}